/*========================
	Google fonts 
==========================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap');



/*========================
	default css  
==========================*/
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

p {
	font-weight: 400;
	color: #7f7d77;
}

.fa {
	color: #fff;
}

/*=========================
	Header section 
==========================*/
.top {
	background: #373c42;
	height: 50px;
	/*width: 100%;*/
}
.top-menu {
	
}
 
 .top-left,
 .top-right {
 	margin-top: 15px;
 	margin-bottom: 15px;
 }
.top-left ul li {
	list-style: none;
	display: inline;
	padding: 10px 13px;
	background: #4c555e;
	width: 34px;
	height: 34px;
	border-radius: 50%;
}

.top-left ul li a {
	text-decoration: none;

}

.top-right ul li {
	list-style: none;
	display: inline;
}